/* ==========================================
   KILLCRITIC STYLE.CSS
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Bebas+Neue&display=swap');

/* ==========================================
   ОБЩИЕ НАСТРОЙКИ ДЛЯ ВСЕГО САЙТА
========================================== */

/* Убираем стандартные отступы браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Настройки страницы */
html, body {
    width: 100%;
    height: 100%;
    background: #070707;
    color: #fff;
    font-family: "Inter", sans-serif;
    /* Настройки скроллбара */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer / старый Edge */
}

/* Настройки скроллбара */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, новый Edge */
}

/* ==========================================
   ОБЩИЕ НАСТРОЙКИ ФОНА СТРАНИЦ
========================================== */

.page {
    /* Заполнить весь экран */
    background-size: 100% 100%;
    /* Центрировать */
    background-position: top center;
    /* Не повторять изображение */
    background-repeat: no-repeat;
    /* растянуть по ширине, сохранить пропорции,
       если картинка выше экрана — обрезать снизу */
    background-size: 100% auto;
}

/* ==========================================
   ФОНЫ
========================================== */

.start-page{background-image:url("../img/start_screen.jpg");}
.password-page{background-image:url("../img/password.jpg");}
.desktop-page{background-image:url("../img/desktop.png");}
.case-page {
    background: url("../img/background1.jpg");
    /* Затемняет изображение */
    filter: brightness(.65);
}

/* ==========================================
   ОБЩИЕ ССЫЛКИ
========================================== */

.text-link {
    color: #d8d8d8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .25s;
}

    .text-link:hover {
        color: #d32f2f;
    }

/* ==========================================
   ОКНО ВВОДА ПАРОЛЯ
========================================== */

/* Стиль для окна ввода пароля */
.login-box {
    /* Абсолютное позиционирование. Позволяет разместить окно в нужном месте страницы */
    position: absolute;
    /* Сдвигаем левый край окна на 50% ширины страницы */
    left: 50%;
    /* Располагаем окно на расстоянии 50 пикселей от нижнего края страницы */
    bottom: 50px;
    /* Сдвигаем окно влево на половину его собственной ширины. Благодаря этому оно оказывается точно по центру */
    transform: translateX(-50%);
    /* Ширина окна — 420 пикселей */
    width: 420px;
    /* Если экран узкий (например, телефон), окно не станет шире 90% экрана */
    max-width: 90%;
    /* Внутренний отступ между содержимым и границами окна */
    padding: 30px;
    /* Цвет фона.
       rgba = красный, зелёный, синий, прозрачность.
       Здесь почти чёрный цвет с прозрачностью 80% */
    background: rgba(20,20,20,.8);
    /* Цвет текста внутри окна */
    color: white;
    /* Выравнивание текста по центру */
    text-align: center;
    /* Скругление углов окна */
    border-radius: 20px;
    /* Рамка:
       2px — толщина,
       solid — сплошная линия,
       rgba(...) — белый цвет с прозрачностью */
    border: 2px solid rgba(255,255,255,.2);
    /* Тень под окном.
       0 — смещение по горизонтали
       12px — смещение вниз
       30px — степень размытия
       rgba(...) — полупрозрачный чёрный цвет */
    box-shadow: 0 12px 30px rgba(0,0,0,.5);
    /* Размывает фон, который находится за окном. Благодаря этому окно выглядит как матовое стекло */
    backdrop-filter: blur(8px);
}

/* ==========================================
   СТИЛИ ТЕКСТА
========================================== */

/* Стиль применяется ко всем заголовкам <h2> 
h2 {
    /* Отступ снизу 25 пикселей. Создает расстояние между заголовком и полем ввода 
    margin-bottom: 25px;
    /* Размер шрифта заголовка
    font-size: 28px;
} */

/* Заголовок h1 */
h1 {
    font-family: "Bebas Neue",sans-serif;
    font-size: 130px;
    line-height: .9; /* Расстояние между строками */
}
    /* Красное слово в заголовке */
    h1 span {
        color: #d32f2f;
    }

/* Заголовок h2 */
h2 {
    font-family: "Bebas Neue",sans-serif;
    font-size: 42px;
    letter-spacing: 3px;
    margin: 12px 0 35px; /* Отступы верх:12, лево/право:0, низ:35 */
}

/* Обычный текст */
p {
    /* Ограничение ширины текста */
    width: 620px;
    /* Межстрочный интервал */
    line-height: 1.8;
    color: #bdbdbd;
    font-size: 20px;
    /* Отступ после текста */
    margin-bottom: 45px;
}


/* ==========================================
   ПОЛЕ ВВОДА
========================================== */

/* Стиль применяется только к полям ввода
   с типом password */
input[type="password"] {

    /* Поле занимает всю ширину родительского блока (.login-box) */
    width: 100%;
    /* Внутренний отступ между текстом и границами поля */
    padding: 15px;
    /* Размер шрифта вводимого текста */
    font-size: 18px;
    /* Убираем стандартную рамку браузера */
    border: none;
    /* Скругляем углы поля ввода */
    border-radius: 12px;
    /* Отступ снизу до кнопки */
    margin-bottom: 20px;
    /* Убираем стандартную рамку, которая появляется при выборе поля */
    outline: none;

}

    /* Когда пользователь нажал на поле или начал вводить пароль */
    input[type="password"]:focus {
        /* Добавляем красное свечение вокруг поля.
       Первые два нуля — смещение по X и Y.
       12px — степень размытия свечения.
       #ff3b3b — красный цвет свечения */
        box-shadow: 0 0 12px #ff3b3b;
    }

/* ==========================================
   КНОПКИ
========================================== */

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Цвет кнопки */
    background: #c62828;
    /* Цвет текста */
    color: #fff;
    /* Убираем подчеркивание ссылки */
    text-decoration: none;
    /* Размер текста */
    font-size: 22px;
    /* Жирный текст */
    font-weight: 700;
    /* Внутренние отступы */
    padding: 18px 55px;
    /* Скругление углов */
    border-radius: 12px;
    /* Тень */
    box-shadow: 0 8px 20px rgba(0,0,0,.35);
    /* Плавная анимация */
    transition: .25s;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
}
    /* Когда мышка наведена */
    .button:hover {
        /* Цвет становится ярче */
        background: #e53935;
        /* Немного увеличиваем кнопку */
        transform: scale(1.05);
    }

    /* Когда кнопка нажата */
    .button:active {
        /* Немного уменьшаем кнопку */
        transform: scale(.98);
    }

/* Стартовая страница. Кнопка*/
.start-button {
    /* Абсолютное позиционирование */
    position: absolute;
    /* Отступ слева */
    left: 8%;
    /* Отступ снизу */
    bottom: 12%;
    /* Цвет кнопки */
}

/* Кнопка "Войти" */
.login-button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
}

/* ==========================================
   РАБОЧИЙ СТОЛ
========================================== */

/* Контейнер рабочего стола */
.desktop {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
}

/* ==========================================
   Иконки
========================================== */
.desktop-icon {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

    /* Подсветка */
    .desktop-icon:hover {
        background: rgba(255,255,255,0.15);
        border-radius: 10px;
    }

    /* Подпись */
    .desktop-icon span {
        margin-top: 8px;
        text-align: center;
        font-size: 15px;
    }

/* Общий стиль иконок */
.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Иконки */
.folder {
    background-image: url("../img/icons/folder.png");
}

.mail {
    background-image: url("../img/icons/mail.png");
}

.telegram {
    background-image: url("../img/icons/telegram.png");
}

/* ==========================================
   MAIN.HTML
========================================== */

/* Контейнер состоит из .logo и .menu */
.top-panel {
    /* Элемент позиционируется относительно ближайшего родителя или относительно окна браузера */
    position: absolute;
    top: 35px;
    left: 5%;
    right: 35%;
    /* Все элементы внутри .top-panel становятся flex-элементами и располагаются в одну линию */
    display: flex;
    /* Распределяет свободное место между элементами */
    justify-content: space-between;
    /* Выравнивание элементов по вертикали */
    align-items: center;
    /* Номер слоя */
    z-index: 5;
}

.logo {
    /* Шрифт, запасной шрифт, если не загрузится основной */
    font-family: "Bebas Neue",sans-serif;
    /* Размер шрифта */
    font-size: 42px;
    /* Расстояние между буквами */
    letter-spacing: 2px;
}

    /* Красная часть логотипа */
    .logo span {
        color: #c62828;
    }

.menu {
    display: flex;
    gap: 42px;
}

    /* Применяется ко всем ссылкам внутри меню */
    .menu a {
        color: #d7d7d7;
        /* Убирает стандартное подчёркивание ссылок */
        text-decoration: none;
        /* Все буквы становятся большими */
        text-transform: uppercase;
        /* Расстояние между буквами */
        letter-spacing: 2px;
        /* Добавляет плавную анимацию изменения */
        transition: .25s;
    }

        /* Наведение мышки */
        .menu a:hover {
            color: #d32f2f;
        }

/* Главный контейнер страницы состоит из .left-column и .right-column */
.case-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-column {
    width: 55%;
    /* Отступы: верх право низ лево */
    padding: 170px 0 0 110px;
}

.right-column {
    width: 45%;
    /* Обрезает всё, что выходит за пределы блока */
    overflow: hidden;
}

    .right-column img {
        width: 100%;
        height: 100%;
        /* Заполни весь блок картинкой, сохранив пропорции */
        object-fit: cover;
        /* Затемняет изображение */
        filter: brightness(.65);
    }

/* Странно что для номера кейса отдельный класс, СДЕЛАТЬ ПО_ДРУГОМУ!!! */
.case-number {
    color: #c62828;
    font-size: 30px;
    font-weight: 700; /* Жирность */
    margin-bottom: 15px; /* Отступ после текста */
}

/* Заголовок ПОЧЕМУ НЕЛЬЗЯ ПРОСТО Н1 ??? 
.left-column h1 {
    font-family: "Bebas Neue",sans-serif;
    font-size: 130px;
    line-height: .9; /* Расстояние между строками 
}
    /* Красное слово в заголовке 
    .left-column h1 span {
        color: #d32f2f;
    }*/

/* Подзаголовок 
.subtitle {
    font-family: "Bebas Neue",sans-serif;
    font-size: 42px;
    letter-spacing: 3px;
    margin: 12px 0 35px; /* Отступы верх:12, лево/право:0, низ:35 
}*/

/* Обычный текст 
.left-column p {
    /* Ограничение ширины текста 
    width: 620px;
    /* Межстрочный интервал 
    line-height: 1.8;
    color: #bdbdbd;
    font-size: 20px;
    /* Отступ после текста 
    margin-bottom: 45px;
}*/
